{% extends 'base.html' %}

{% block content %}
      <script>
        // начать повторы с интервалом 15 сек
          var timerId = setInterval(function() {
            alert( "Please click on Menu button otherwise you will be redirected to the catalog page automatically" );
          }, 5000);

          // через 32 сек остановить повторы   
          setTimeout(function() {
            clearInterval(timerId);
          }, 7000);

          var redirectId = setInterval(function() {
            window.location.replace("/catalog");
          }, 15000);

        setTimeout(function() {
            clearInterval(redirectId);
          }, 17000);
      </script>


  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center p-3 mb-2 bg-primary text-white">Меню ресторана Шаурмино!</h1>
        </div>
        <br>
        <br>
        <div class="text-center">
          <h1 class="btn btn-danger">{{ title }}</h1>
        </div>

    </div>
  </div>


{% endblock %}