{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
      <script>
        // начать повторы с интервалом 15 сек
          var timerId = setInterval(function() {
            alert( "Please click on Menu button otherwise you will be redirected to the menu page automatically" );
          }, 5000);

          // через 32 сек остановить повторы   
          setTimeout(function() {
            clearInterval(timerId);
          }, 7000);

          var redirectId = setInterval(function() {
            window.location.replace("/catalog");
          }, 15000);

        setTimeout(function() {
            clearInterval(redirectId);
          }, 17000);
      </script>


 <body class="home">
   <div class="container">
  <div class="row">
<!--     <div class="col-sm-6">
      <img style="height: 100px; width: 100px; position: relative; margin-top: 0; margin-left: 0"   src="{% static 'images/backimg.jpeg' %}" alt="hi">
    </div> -->
    <div style="margin-left: -266px;" class="col-sm-6">
        <a href="/catalog"><img src="{% static 'images/meat.webp' %}" height="300" width="450"  alt="hi"></a>
    </div>
  </div>
</div>
 </body>


<!-- src="{% static 'images/meat.webp' %}" - way of adding images in styles there is option how to add background-->





{% endblock %}