{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block content %}

<script>
   var redirectId = setInterval(function() {
          window.location.replace("/home");
          }, 355000);

   setTimeout(function() {
      clearInterval(redirectId);
          }, 366000);
</script>
<div class="container">
	<h1>Welcome</h1>
	<p>
		You can login here!
	</p>
	<h2>Login</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
</div>

{% endblock %}