/*body {
	background-color: blue;
}*/
/*
table.table {
	width: 120%
}*/

/*table.table {
	text-align: center;
}*/

tr:hover {
	background-color: #f5f5f5
}


th.price {
	text-align: right;
}


td.word-spacing {
	word-spacing: 20px;
	text-align: right;
}

a.black {
	color: black;
}



/*catalog_detail.html*/
div.catalog-margin {
	margin-left: 50px;
}

/*reg_form*.html*/
input#id_username {
	position: relative;
	left: 4px;
}
input#id_email {
	position: relative;
	left: 31px;
}

