/*body {
	background-color: blue;
}*/
/*
table.table {
	width: 120%
}*/

/*table.table {
	text-align: center;
}*/

tr:hover {
	background-color: #f5f5f5
}


th.price {
	text-align: right;
}


td.word-spacing {
	word-spacing: 20px;
	text-align: right;
}

a.black {
	color: black;
}



/*catalog_detail.html*/
div.catalog-margin {
	margin-left: 50px;
}

/*reg_form*.html*/
input {
	border: 3px solid #f2dedeeb;
	border-radius: 25px;
}

input:focus{
	background-color: lightblue;
	border: 3px solid #555;
}

div.even input#id_username {
	position: relative;
	left: 86px;

}
div.even input#id_first_name {
	position: relative;
	left: 83px;
}

div.even input#id_last_name {
	position: relative;
	left: 85px;
}
div.even input#id_email {
	position: relative;
	left: 117px;
}
div.even input#id_password1 {
	position: relative;
	left: 88px;
}

span.helptext {
	display: none;
}

/*home.html*/


/*base.html*/
footer div.col-sm-6 ul li a{
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
}

footer div.col-sm-6 ul li a:hover{
	text-decoration: none;
    color: #0f9de4;

}

footer div.col-sm-6 ul li{
	list-style-type: none;
}

/*footer social media*/
footer div.col-sm-6.text-right ul li a{
	width: 50px;
	height: 50px;
	background: #fff;
	text-align: center;
	line-height: 46px;
	float: right;
	font-size: 31px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}

footer div.col-sm-6.text-right ul li a .fa{
	position: relative;
	color: #262626;
	transition: .5s;
}

footer div.col-sm-6.text-right ul li a:hover .fa{
	color: #fff;
	transform: rotateY(360deg);
}

footer div.col-sm-6.text-right ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 1;
}

footer div.col-sm-6.text-right ul li a:hover:before {
	top: 0;
}

footer div.col-sm-6.text-right ul li:nth-child(1) a:before {
	background: #3b5999;
}
footer div.col-sm-6.text-right ul li:nth-child(2) a:before {
	background: #55acee;
}
footer div.col-sm-6.text-right ul li:nth-child(3) a:before {
	background: #0077b5;
}
footer div.col-sm-6.text-right ul li:nth-child(4) a:before {
	background: #cd201f;
}
footer div.col-sm-6.text-right ul li:nth-child(5) a:before {
	background: #131418;
}


/*added styles in such way in order to give each color to each*/
