{% extends 'base.html' %}

{% block content %}
	<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Заведение</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
    	{% for item in catalog %}
      <tr>
        <td><a style="color: black;" href="{% url 'catalog_detail' item.id %}">{{item.name}}</a></td>
        <td>{{item.place}}</td>
        <td>{{item.price}} <a style="color: black;" href="#"><span class="glyphicon glyphicon-plus"></span></a></td>
      </tr>
      	{% endfor %}
      
    </tbody>
  </table>
		</div>
{% endblock %}