{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12"><p class="text-right"><a href="login/"><span style="color: black">Войдите, чтобы сделать заказ</span></a></p></div>
    </div>
  </div>
	<div class="catalog-margin" >
	<div>
		<a style="background-color: black;" class="btn btn-primary" href="{% url 'catalog:home' %}">&larr; Return back to the catalog</a>
		<br>
		<br>
	</div>

	<div>
		{{ catalog_item.name }}
	</div>
	</div>
{% endblock %}